

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register>form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 30px 58px;
    border-radius: 8px;
    width: 81%;
}

.input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    /* margin-bottom: 10px; */
    margin-top: 5px;
}

.profileInput{
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.registStyle{
    display: flex;
    justify-content: center;
    color: transparent;
    margin-bottom: 30px;
}
.registStyle > h2{
    position: relative;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
}

.registStyle > h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: purple;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid red;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        width: 0;
    }   
    70%{
        width: 105%;
    }
}

/* 
.register>form>.forgot{
    margin-top: -40px;
    font-size: 14px;
    margin-left: 110px;
    cursor: pointer;
    opacity: 0;
} */
/* 
input[type="submit"]{
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s linear;
}
input[type="submit"]:hover{
    color: teal;
    background-color: rgba(0, 0, 0, 0.1);
} */
/* 
.registerBtn{
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s linear;
} */
/* 
.registerBtn:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: teal;
} */
